footer {
  // border-top: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: rgb(236, 236, 236);
  height: 80px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
