.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 5vh;
  input {
    height: 30px;
    width: 10vw;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 5px;
  }
}
