$primaryColor: #008000;
$subColor: #303f9f;
$gmarket: 'GmarketSans';

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-align: center;
}
html {
  font-size: 62.5%; // 1rem = 10px
  height: 100%;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 320px;
  height: 100%;
}
ol,
ul,
li {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
